[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStartPre=/bin/chmod 544 {{kubeHomeDir}}/bin/kube-scheduler
ExecStart={{kubeHomeDir}}/bin/kube-scheduler \
  --leader-elect=true \
  --master=http://127.0.0.1:8080 \
  --v=2
Restart=on-failure
RestartSec=5
LimitNPROC={{LimitNPROC}}
LimitNOFILE={{LimitNOFILE}}

[Install]
WantedBy=multi-user.target
