clusters:
  - name: ldap-authn
    cluster:
      server: {{ldapAuthUrl}}
users:
  - name: apiserver
current-context: webhook
contexts:
- context:
    cluster: ldap-authn
    user: apiserver
  name: webhook
